body {
  color: #333;
  background-color: #f9f9f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.95rem;
}

header {
  background-color: #fff;
  margin-top: 0.4rem;
  margin-left: 0.3rem;
  margin-bottom: 2rem;
  margin-top: 3.5rem;
  padding: 0.2rem 0 1rem 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
}

nav {
  display: flex;
  gap: 2rem;
  position: fixed;
  top: 0;
  padding: 1rem 0 1rem 0.6rem;
  margin-left: 0;
  margin-bottom: 4rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
}

nav a {
  color: cornflowerblue;
}

.section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #333;
  background-color: #f9f9f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.95rem;
  scroll-margin-top: 3.5rem;
}

section {
  background-color: #fff;
  margin-bottom: 2rem;
  margin-left: 0.3rem;
  padding-left: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
}

section pre {
  color: cornflowerblue;
  background-color: rgb(246, 246, 248);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

  padding: 10px 10px 0 10px;
  margin: 0 20px 20px 20px;
  margin-left: 0;
  max-width: 100%;
  overflow-x: auto;
}

.api-url {
  color: cornflowerblue;
}

h2 {
  background-color: #fff;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-left: 0.3rem;
  padding-left: 1rem;
}

h4 ~ p {
  margin: 0;
}
